name: SwiftLint

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - '**/*.swift'
      - '.swiftlint.yml'

jobs:
  lint:
    name: SwiftLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict
